{% extends "taxi/base.html" %}

{% block title %}Manufacturer details{% endblock %}

{% block content %}
<div class="card">
    <h2>Manufacturer details</h2>

    <p><strong>Name:</strong> {{ manufacturer.name }}</p>
    <p><strong>Country:</strong> {{ manufacturer.country }}</p>

    <h3>Cars by this manufacturer:</h3>
    <ul>
        {% for car in manufacturer.car_set.all %}
            <li>
                <a href="{% url 'car-detail' car.id %}">
                    {{ car.model }}
                </a>
            </li>
        {% empty %}
            <li>No cars for this manufacturer.</li>
        {% endfor %}
    </ul>

    <p>
        <a class="btn" href="{% url 'manufacturer-update' manufacturer.id %}">Edit</a>
        <a class="btn" href="{% url 'manufacturer-delete' manufacturer.id %}">Delete</a>
    </p>
</div>
{% endblock %}
